<div style="width:100%">
    <div class="header">
        <h1 class="heading">Machines</h1>
        <div>
            <p-button label="Add New Machine" icon="pi pi-plus" class="newBtn"></p-button>
            <p-button label="Shift" class="newBtn"></p-button>
            <p-button label="SKU" class="newBtn"></p-button>

        </div>
    </div>
    <div class="factories">

        <div class="factoryItem" *ngFor="let factory of factoryList">
            <div class="cardbox"></div>
            <div class="cardtext">
                <span (click)="gotoLines()" style="cursor: pointer;">{{factory}}</span>
                <!-- <span>E</span> -->
            </div>
        </div>

    </div>
</div>