.login {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 95vh;
}

.logincard {
    display: flex;
    flex-direction: column;
}

.username {
    width: 235px !important;
}

.loginBtn {
    display: flex;
    justify-content: center;
}