<div class="login">
    <div class="card flex justify-content-center">
        <p-card [style]="{ width: '500px' }" class="logincard" header="Login" subheader="Enter your credentials">
            <ng-template pTemplate="header">
                <img alt="Card" src="https://primefaces.org/cdn/primeng/images/usercard.png" />
            </ng-template>
            <div class="flex flex-column gap-2">
                <input type="text" pInputText formControlName="text" placeholder=" Enter Username" class="username" />

            </div>
            <div class="flex flex-column gap-2 " style="margin-top: 10px;">
                <p-password [(ngModel)]="value" [toggleMask]="true" placeholder="Enter Password"></p-password>

            </div>
            <ng-template pTemplate="footer" class="flex justify-content-center ">
                <p-button label="Login" (click)="login()" class="loginBtn"></p-button>
            </ng-template>
        </p-card>
    </div>



</div>