.heading {
    color: rgb(0, 125, 186)
}

.cardbox {
    width: 100%;
    height: 15vh;
    border: 1px solid gray;
    border-radius: 5px;
}

.cardtext {
    margin-top: 5px;
    width: 100%;
    background: rgb(0, 125, 186);
    color: white;
    padding: 5px;
    border: 1px solid rgb(0, 125, 186);
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 13px;
}

.lines {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}

.lineItem {
    width: 10vw;
    margin-right: 80px;
    margin-bottom: 30px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.newBtn {
    margin-right: 20px;
}

::ng-deep .p-button {
    padding: 0.25rem 1.25rem;
    font-size: 0.7rem;
    background-color: rgb(0, 125, 186);
}