<div style="width:100%">
    <div class="header">
        <h1 class="heading">Lines</h1>
        <p-button label="Add New Line" icon="pi pi-plus" class="newBtn"></p-button>
    </div>
    <div class="lines">

        <div class="lineItem" *ngFor="let line of linesList">
            <div class="cardbox"></div>
            <div class="cardtext">
                <span (click)="gotoMachines()" style="cursor: pointer;width:50%">{{line}}</span>
                <span>E</span>
                <span (click)="gotoDashboard()">D</span>
            </div>
        </div>

    </div>


</div>