<div class="maincontainer">
    <div class="sidebar">
        <img src="assets/images/cbtlogo.png" alt="logo" width="100px" height="80px">
        <div *ngFor="let menuItem of menuOptions;let i=index" class="sideitems">
            <div [routerLink]="menuItem.routerLink" [ngClass]="{'active-link': applyActiveLinkBasedOnRoute(menuItem)}"
                class="menuItem">
                <span class="material-icons-outlined">
                    {{menuItem.icon}}
                </span>
                <h4 style="margin:0">{{menuItem.title}}</h4>
            </div>

        </div>
    </div>
    <div class="toolbar">
        <div>
            <div class="card">
                <p-toolbar>
                    <div class="p-toolbar-group-start">
                        <span class="material-icons-outlined">
                            menu
                        </span>
                        <p-breadcrumb class="max-w-full" [model]="items"></p-breadcrumb>
                    </div>
                    <div class="p-toolbar-group-end">
                        <p-dropdown [options]="languages" [(ngModel)]="selectedCity" optionLabel="name"></p-dropdown>
                        <p-toast></p-toast>
                        <p-confirmPopup></p-confirmPopup>
                        <span class="material-icons-outlined logout" (click)="logout($event)">
                            logout
                        </span>
                    </div>
                </p-toolbar>
            </div>
        </div>
        <div style="margin-left: 20px;">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>