.maincontainer {
    display: flex;
}

.sidebar {
    flex: 1.5;
    display: flex;
    align-items: center;
    flex-direction: column;
    // justify-content: center;
    background-color: rgb(246, 244, 246);
    height: 100vh;
}

.toolbar {
    flex: 10.5
}

.sideitems {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
    // justify-content: center;
}

::ng-deep .p-breadcrumb {
    background: none !important;
    border: none !important;
    border-radius: 0;
    padding: 1rem;

}

::ng-deep.p-breadcrumb ul li:last-child .p-menuitem-text {
    color: blue !important;
    font-weight: 500;
}

.logout {
    cursor: pointer;
}

::ng-deep .p-toolbar {
    background: #f8f9fa;
    border: none;
    border-radius: 0;
    padding: 0.5rem;
    gap: 0.5rem;
}

// .active-label-color {
//     color: #ffffff;
// }

.active-link {
    color: blue;
}

.menuItem {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}