<div class="main">
    <div class="leftSide">
        <div class="headings">
            <h2 style="margin: 0;color:rgb(49,70,115)">Current Status</h2>
            <h1 style="margin:0;color:rgb(72,126,72)">Running</h1>
        </div>

        <div class="runningData">
            <div>
                <span>Run started may-10-2018 17:01</span>
                <span>Rate 100/Min</span>
            </div>
            <div class="progressBar">
                <div class="avatar">
                    <p-avatar image="https://primefaces.org/cdn/primeng/images/demo/avatar/asiyajavayant.png"
                        styleClass="mr-2" size="xlarge" shape="circle"></p-avatar>
                </div>

                <div class="progressdata">
                    <div style="display: flex;align-items: center;justify-content: center;">
                        <h3 style="color:rgb(49,70,115);margin: 0 0 10px 0;
                        ">55677 . tomato bisque 12oz*12(15:47)</h3>

                    </div>
                    <div>
                        <p-progressBar [value]="90"></p-progressBar>
                    </div>
                    <div style="display: flex;align-items: center;justify-content: center;">
                        <h4 style="margin: 10px 0 0 0;">28567 of 31572(EACH)</h4>

                    </div>
                    <div class="targetvalues">
                        <h1 style="display: flex;
                        align-items: center;
                    "><span class="material-icons-outlined downicon">
                                arrow_drop_down
                            </span> 69.2%</h1>
                        <h1>84.65</h1>
                    </div>
                </div>
            </div>

        </div>
        <div>
            <p-divider type="solid"></p-divider>
            <div class="producevalues">
                <div style="display: flex;flex-direction: column; align-items: center;">
                    <h2 class="headText">Produced</h2>
                    <h2 style="margin: 0;">7,303</h2>
                </div>

                <p-divider layout="vertical"></p-divider>

                <div style="display: flex;flex-direction: column; align-items: center;">
                    <h2 class="headText">Remaining</h2>
                    <h2 style="margin: 0">1,418</h2>
                </div>
            </div>

        </div>
    </div>
    <div class="rightSide">
        <div class="shiftData">
            <div class="shiftole">
                <h3 style="margin: 0;color:rgb(49,70,115);margin-top: 20px;">Shift OLE</h3>
                <div class="outer">
                    <p-chart type="doughnut" [data]="data" [options]="options" width="150" height="150"
                        [plugins]="plugins"></p-chart>
                    <p-chart type="doughnut" [data]="data1" [options]="options1" width="150" height="150"></p-chart>
                </div>
                <div>
                    <span style="font-weight: bold;font-size: 16px;color: gray;">Target:72.0%</span>

                </div>
            </div>
            <div class="shiftDetails">
                <div class="prodshift">
                    <div>
                        <h4>Production</h4>
                        <h2>7320Cases</h2>
                    </div>
                    <div>
                        <h4>Total Loss</h4>
                        <h2>25.34 mins</h2>
                    </div>
                </div>
                <div class="totalData">
                    <div>
                        <h2>11</h2>
                    </div>

                    <div>
                        <p>Total Stops</p>
                        <p>19.69Minutes</p>
                    </div>
                    <p-divider layout="vertical"></p-divider>
                    <div>
                        <h2>01</h2>
                    </div>

                    <div>
                        <p class="unassign"><span class="material-icons-outlined erroricon">
                                error_outline
                            </span>Unassigned</p>
                        <p>2.68Minutes</p>
                    </div>

                </div>
                <p-divider type="solid"></p-divider>
            </div>


            <div class="shiftNotification">
                <img src="assets/images/notification-bell.png" alt="notification" width="70px" height="70px">
            </div>

        </div>

        <div class="performance">
            <div>
                <h2>85.4%</h2>
                <h4>Performance</h4>
            </div>
            <div>
                <h2>100%</h2>
                <h4>Quality</h4>
            </div>
            <div>
                <h2>85.6%</h2>
                <h4>Availability</h4>
            </div>
        </div>
        <div class="tableDiv">
            <p-table [value]="tableData" styleClass="p-datatable-striped"
                [tableStyle]="{'min-width': '50rem','border-top':'3px solid gray'}">
                <ng-template pTemplate="header">
                    <tr>
                        <th>
                            <div style="margin-top: 10px;">
                                <span class="shiftprblm">Shift
                                    Problems</span>
                                <span class="runprblm">Run
                                    Problems</span>
                            </div>
                            <div
                                style="margin-top: 10px;font-size: 14px;font-weight: 500;display: flex;align-items: center; color:gray">
                                <p class="box"
                                    style="background-color: gray;border: 1px solid gray;margin-right: 10px;"></p>
                                <span>Performance</span>
                                <p class="box"
                                    style="background-color: rgb(56, 67, 163);border: 1px solid rgb(56, 67, 163);margin:0 10px;">
                                </p>
                                <span>Quality</span>
                                <p class="box"
                                    style="background-color: rgb(49,70,115);border: 1px solid rgb(49,70,115);margin:0 10px;">
                                </p>
                                <span>Availability</span>
                                <p class="box" style="background-color: red;border: 1px solid red;margin:0 10px;">
                                </p>
                                <span>Unallocated</span>
                                <p
                                    style="background-color: rgb(49,70,115);border: 1px solid rgb(49,70,115);margin:0 10px;border-radius: 50%;width:5px;height:5px">
                                </p>
                                <span>Planned</span>
                            </div>
                        </th>
                        <th>
                            <div>
                                <p class="totalLost">Total Lost</p>
                                <p class="totaltime">10h 39m</p>
                                <p class="totalforeach">2,756 EACH</p>
                            </div>
                        </th>
                        <th>
                            <div>
                                <p class="totalLost">Total Impact</p>
                                <p class="totaltime">$387.90</p>

                            </div>
                        </th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-product>
                    <tr>
                        <td>
                            <div class="bartext">


                                <p class="navi" [ngStyle]="{'background':(product.prd=='quality')?'linear-gradient(to right,rgb(49,70,115) 0%, rgb(49,70,115)'+' '+product.background+'%, #FFFFFF'+' '+product.background+'%, #FFFFFF 100%)':'linear-gradient(to right,gray 0%, gray'+' '+product.background+'%, #FFFFFF'+' '+product.background+'%, #FFFFFF 100%)',
                                }">{{product.code}}
                                </p>
                                <!-- <div class="infoi"
                                    [ngStyle]="{'background':'linear-gradient(to right,#FFFFFF 0%, #FFFFFF'+' '+product.background+'%, gray'+' '+product.background+'%, gray 100%)'}">
                                    {{product.code}}</div> -->
                            </div>
                        </td>
                        <td>
                            <p>{{product.total}}</p>
                            <p>{{product.totaleach}} EACH</p>
                        </td>
                        <td>$ {{product.totalImpact}}</td>
                        <td><span class="material-icons-outlined addicon">
                                control_point
                            </span></td>
                    </tr>
                </ng-template>
            </p-table>

        </div>
    </div>
</div>