.main {
    display: flex;
    padding: 10px 20px;
}

.leftSide {
    flex: 5;
    display: flex;
    flex-direction: column;
    // align-items: center;
    // justify-content: center;
}

.rightSide {
    flex: 7;
    margin-left: 5%;
}

::ng-deep.p-progressbar {
    // border: 0 none;
    height: 0.3rem !important;
    // background: #dee2e6;
    // border-radius: 6px;
    // width: 150% !important;

    .p-progressbar-label {
        display: none !important;
    }

    .p-progressbar-value {

        background: rgb(49, 70, 115);
    }
}

.runningData {
    background-color: rgb(246, 244, 246);
    border-top: 5px gray solid;
    margin: 20px 0;
}

.progressBar {
    display: flex;
    // align-items: center;
    padding: 10px;

}

.avatar {
    flex: 2;
    display: flex;
    justify-content: center;

}

.progressdata {
    flex: 10
}

.headings {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.downicon {
    color: red;
    font-size: 34px;
}

.targetvalues {
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: gray;
}

.producevalues {
    display: flex;
    justify-content: space-evenly;
}


::ng-deep.p-divider.p-divider-horizontal {
    margin: 0;
    padding: 0 1.25rem;
}

.headText {
    color: gray;
    font-weight: 500;
    font-family: sans-serif;
}



.shiftData {
    display: flex;

}

.shiftole {
    flex: 4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.shiftDetails {
    flex: 6;
}

.shiftNotification {
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.prodshift {
    display: flex;
    justify-content: space-between;
}

.totalData {
    display: flex;
    justify-content: space-between;
}

.unassign {
    display: flex;
    align-items: center;
    color: red;
}

.performance {
    display: flex;
    background-color: rgb(246 244 246);
    margin-top: 10px;
    color: gray;
    justify-content: space-around;
}

.outer {
    position: relative;
    width: 150px;
    height: 150px;
}

::ng-deep p-chart {
    position: absolute;
}

.tableDiv {
    margin-top: 20px;
}

.shiftprblm {
    border: red solid 1px;
    color: red;
    font-size: 14px;
    font-weight: 500;
    padding: 5px 10px;
    border-radius: 5px 0 0 5px;
}

.runprblm {
    border: red solid 1px;
    background-color: red;
    color: white;
    font-size: 14px;
    font-weight: 500;
    padding: 5px 10px;
    border-radius: 0px 5px 5px 0;
}

.box {
    // border: 1px solid rgb(14, 13, 13);
    border-radius: 2px;
    width: 15px;
    height: 15px;
    color: gray;
    // margin: 0px 10px;
}

.totalLost {
    font-size: 14px;
    font-weight: 500;
    color: rgb(49, 70, 115);
}

.totaltime {
    font-size: 18px;
    font-weight: 500;
}

.totalforeach {
    font-size: 14px;
    font-weight: 500;
    color: gray;
}

.addicon {
    color: red
}

::ng-deep.p-datatable .p-datatable-thead>tr>th {
    padding: 0 1rem;
    line-height: 0.5;
}

::ng-deep.p-datatable .p-datatable-tbody>tr>td {
    padding: 0 1rem;
}

.navi {

    padding: 10px 5px;
    border-radius: 5px;
    color: rgb(194, 194, 194)
}