<div style="width:100%">
    <div class="header">
        <h1 class="heading">Factories</h1>

        <p-button label="Add New Factory" icon="pi pi-plus" class="newBtn"></p-button>

    </div>
    <div class="factories">

        <div class="factoryItem" *ngFor="let factory of factoryList">
            <div class="cardbox"></div>
            <div class="cardtext">
                <span (click)="gotoLines()" style="cursor: pointer;">{{factory}}</span>
                <span>E</span>
            </div>
        </div>

    </div>


</div>