<div>
    <div class="headerbar">
        <div>
            Location
        </div>
        <div class="oeeheader">
            <div>OEE</div>
            <div>Last 12 Hours</div>
        </div>
        <div>Run Pr ogress</div>
    </div>
    <div *ngFor="let item of linesData" style="display: flex;flex-direction: column;padding:0px 20px;">
        <!-- <div style="display: flex;flex-direction: column;"> -->
        <div class="lines">

            <div class="line" (click)="gotoRunningStatus()">
                <div>
                    <div>
                        <p-avatar [image]="item.img" styleClass="mr-2" size="large" shape="circle"></p-avatar>
                    </div>
                    <div style="margin-top: 10px;
                display: flex;
                ">
                        <div>
                            <span class="material-icons-outlined">
                                play_circle
                            </span>
                        </div>
                        <div>
                            <span class="material-icons-outlined" style="border-radius: 50%;color:white"
                                [ngStyle]="{'background-color':(item.feeling=='sentiment_neutral'?'gray':(item.feeling=='sentiment_satisfied')?'green':'red')}">
                                {{item.feeling}}
                            </span>
                        </div>

                    </div>
                </div>
                <div style="margin-left: 20px;
            line-height: 0.4;">
                    <h2>{{item.line}}</h2>
                    <p>Shift:{{item.shift}}</p>
                    <p>Units:{{item.units}}</p>
                    <p style="display: flex;align-items: center;">Power Hr:
                        <span class="material-icons-outlined" style="color:#FAA343">
                            star_rate
                        </span>
                        {{item.power}}%
                    </p>
                </div>
            </div>
            <p-divider layout="vertical"></p-divider>
            <div class="oeehours">
                <div class="oeedata" [ngStyle]="{'background-color':(item.tarper>=74)?'rgb(51, 190, 51)':'#FAA343'}">
                    <p style="margin-top: 0;">Tar:{{item.tar}}%</p>
                    <h3 style="margin-top: 0;">{{item.tarper}}%</h3>
                    <span class="material-icons-outlined" style="margin-top: 0;line-height: 0.4;">
                        star_rate
                    </span>
                </div>
                <div class="barchart">
                    <p-chart type="bar" [data]="item.data" [options]="options" [plugins]="plugins"></p-chart>
                </div>
                <div class="profile">
                    <div>
                        <p-avatar image="https://primefaces.org/cdn/primeng/images/demo/avatar/asiyajavayant.png"
                            styleClass="mr-2" size="large" shape="circle"></p-avatar>
                    </div>
                    <h4>{{item.line}}</h4>
                </div>

            </div>
            <p-divider layout="vertical"></p-divider>
            <div class="progress">
                <div class="runprogress" [ngStyle]="{'background-color':(item.runper>70)?'rgb(51, 190, 51)':'#CC3F3D'}">
                    <p style="margin-top: 0;">Tar:{{item.runtar}}%</p>
                    <h3 style="margin-top: 0;">{{item.runper}}%</h3>
                    <span class="material-icons-outlined" style="margin-top: 0;line-height: 0.4;"
                        *ngIf="item.runper>70">
                        star_rate
                    </span>
                </div>
                <div class="progressdata">
                    <div style="display: flex;align-items: center;justify-content: center;">
                        <h4>55677 . tomato bisque 12oz*12(15:47)</h4>

                    </div>
                    <div>
                        <p-progressBar [value]="item.runper"></p-progressBar>
                    </div>
                    <div style="display: flex;align-items: center;justify-content: center;">
                        <h4>28567 of 31572(EACH)</h4>

                    </div>
                </div>

            </div>
        </div>
        <div>
            <p-divider type="solid"></p-divider>
        </div>



    </div>

    <!-- </div> -->


</div>