.headerbar {
    display: flex;
    // width: 100%;
    justify-content: space-around;
    background: darkgray;
    color: white;
    align-items: center;
    font-size: 20px;
    padding: 10px 0;
    font-weight: 500;
}

.oeeheader {
    display: flex;
    width: 25%;
    justify-content: space-evenly;
}

.lines {
    display: flex;

    justify-content: space-around;
}

.line {
    flex: 4;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.oeehours {
    flex: 4;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.oeedata {
    // background-color: rgb(51, 190, 51);
    flex: 2;
    color: white;
    border-radius: 10px;
    // width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    // height: 150px;
    line-height: 0.5;
}

.runprogress {
    flex: 2;
    color: white;
    border-radius: 10px;
    // width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    // height: 100px;
    line-height: 0.5;
}

.barchart {
    flex: 7;
}

.profile {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.progress {
    flex: 4;
    display: flex;
    // justify-content: center;
    align-items: center;
}

.progressdata {
    display: flex;
    flex: 10;
    flex-direction: column;
    justify-content: center;
    margin-left: 20px;
    // align-items: center;
}

::ng-deep.p-progressbar {
    // border: 0 none;
    height: 0.5rem !important;
    // background: #dee2e6;
    // border-radius: 6px;
    // width: 150% !important;

    .p-progressbar-label {
        display: none !important;
    }
}